.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
